<p>paquete-create works!</p>

<div class="container">
    <h1>Create Paquete</h1>
    <form [formGroup]="paqueteFormGroup" novalidate (ngSubmit)="savepaquete()" >
        

    <div>
        <label for="">description</label>
        <input formControlName="description" type="text" name="description" >
    </div>
    <div>
        <label for="">sender_name</label>
        <input formControlName="sender_name" type="text" name="sender_name" >
    </div>
    <div>
        <label for="">weight</label>
        <input formControlName="weight" type="text" name= "weight">
    </div>
    <div>
        <label for="">addressee</label>
        <input fromControlnaem="addressee" type="text" name= "weight">
    </div>
    <div>
        <label for="">expeditionDate</label>
        <input fromControlnaem="expeditionDate" type="text" name= "expeditionDate">
    </div>
    
    <button type="submit" [disabled]="paqueteFormGroup.invalid" >Guardar</button>
    
</form>
</div>
